@keyframes mymove {
    100% {transform: rotate(360deg);}
}


@keyframes slidein {
    from {
        margin-top: 20%;
        opacity: 0;
    }
}

@keyframes loading{
    0% {
        z-index: 2;
    }

    99% {
        opacity: 99;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}