* {
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -moz-box-sizing: border-box;
    /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, autres WebKit */
    margin: 0;
    padding: 0;
    font-family: "roboto";
    list-style-type: none
}

@import "font";
@import "color";
@import "mixin";
@import "keyframes";


#mobilesite {
    max-width: 800px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

h1,
h2 {
    font-size: 1.3rem;
    font-family: "roboto_medium";
}

.fa-heart{
    font-size: 1.5rem;
    position: relative;
}

.logo_header {
    width: 50%;
    display: block;
    margin: 20px auto 15px auto;
}


input[type=text]:focus {
    outline: none;
}

form {
    @include box_shadow_form;
    border-width: 0;
    width: 100%;
    text-align: center;

    input {
        @include box_shadow_form;
        padding: 15px 0 15px 0;
        font-size: 1.1rem;
        border: 0;
    }
}

form::before {
    font-family: $fontawesome;
    content: "\f3c5";
    padding: 15px;
    border: 1px solid var(--grey);
    border-radius: 15px 0 0 15px;
    background-color: var(--grey);
}


#reserve {
    background-color: $background_color;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 50px 20px;
    text-align: center;

    h1 {
        margin: 0 60px 20px 60px;
    }

    p {
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-family: "roboto_thin";
    }

    a {
        @include btn_a;
    }
}

#use {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 25px 20px;

    h2{
        font-size: 1.4rem;
    }

    ol {
        counter-reset: li;
    }

    ol li {
        background-color: $background_color;
        padding: 25px;
        margin: 20px 0 20px 15px;
        border-radius: 20px;
        box-shadow: 0 6px 9px 0px #d5d5d5;
    }

    li:last-child{
        background-color: #f5edff;
    }

    li:first-child::before {
        @include logo_li;
        content: "\f3cd";
        color: #7e7e7e;
    }

    li:nth-child(2)::before {
        @include logo_li;
        content: "\f0ca";
        color: #7e7e7e;
    }

    li:last-child::before {
        @include logo_li;
        content: "\f54e";
        color: $first_color;
    }

    li::after {
        position: absolute;
        left: 22px;
        width: 22px;
        height: 22px;
        background-color: $first_color;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        counter-increment: li;
        content: counter(li);

    }
}

#restaurant {
    background-color: $background_color;
    padding: 50px 20px 50px 20px;

    h2 {
        padding-bottom: 20px;
    }

    .card {
        @include card_welcome;
    }

    .card_image {
        height: 190px;
        position: relative;
    }

    .card img {
        object-fit: cover;
        height: 190px;
    }

    .new{
        color: #3a8562;
        background-color: #99e2cf;
        padding: 7px 12px;
        width: fit-content;
        position: absolute;
        top: 15px;
        right: 15px;
        font-family: 'roboto_medium';
        font-size: .8rem;
        border-radius: 2px;
        font-weight: bold;
    }

    #palette, #francaise, #delice{
        object-position: bottom;
    }

    #note{
        object-position: 0 -140px;
    }

    .card_body {
        height: 80px;
        padding: 15px;
        line-height: 25px;
    }

    h3{
        font-weight: bold;
    }

    p{
        font-family: 'roboto_thin';
    }
    
    @include heart;

    .fa-regular{
        left: 275px;
        top: -35px;
    }

    .fa-solid{
        top: -35px;
        left: 251px;
    }

    #btn{
        display: none;
    }
    
    
}

footer{
    background-color: #353535;
    color: #fff;
    padding: 20px 0 30px 20px;
    line-height: 25px;

    h2{
        font-family: "shrikhand";
        font-weight: lighter;
        padding-bottom: 10px;
        font-size: 1.3rem;
    }

    li:first-child::before {
        @include logo_li;
        content: "\f2e7";
        font-size: .9rem;
    }

    li:nth-child(2)::before {
        @include logo_li;
        content: "\f363";
        font-size: .9rem;
    }

    a{
        color: #fff;
    }

}

// menu //

.header_restaurant{
    height: 50px;
    a{
        font-size: 1.2rem;
        position: absolute;
        left: 25px;
        top: 25px;
        text-align: center;
    }
    img{
        border: 0 auto 0 auto;
    }
}


top {
    height: 200px;
    img{
    z-index: -1;
    position: relative;
    object-fit: cover;
    height: 250px;
    }
    #enchant{
        object-position: 0 -160px;
    }
}
.main_menu{
    margin-top: -50px;
    background-color: $background_color;
    border-radius: 40px 40px 0 0;
    padding: 30px 15px 10px 15px;

    h1{
        font-family: "shrikhand";
        font-size: 2rem;
    }

    @include heart;

    .fa-regular{
        top: -35px;
        right: -320px;
    }

    .fa-solid{
        top: -35px;
        right: -296px;
    }

    h2{
        margin : 20px 0 20px 0;
        font-family: 'roboto_thin';
        border-bottom: 4px solid $third_color;
        padding: 0 15px 10px 0;
        width: 50px;

    }

    .menu{
        background-color: #fff;
        padding: 15px 12px;
        border-radius: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 6px 9px 0px #d5d5d5;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card_title {
        line-height: 25px;
    }

    p:nth-child(2){
        font-family: 'roboto_thin';
    }

    .bar::after{
        font-family: $fontawesome;
        content: "\f00c";
        color: $third_color;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        background-color: #FFFF ;
        display: flex;
        justify-content: center;
        align-items: center;  
        margin: 30px auto;

    }

    .bar{
        background-color: $third_color;
        width: 100px;
        margin: -15px -120px;

    }
    
    .menu:hover .bar{
        transform:translateX(-100px);
        transition: all 500ms ease-in-out;
    }

    .menu:hover .bar::after{
        animation: mymove .7s;
        animation-delay: .3s;
    }

    .price{
        position: relative;
        bottom: -25px;
        right: 30px;
        font-weight: bold;
        
    }

    .order{
        @include btn_a;
        padding: 20px 35px;
        display: block;
        margin: 50px 90px 80px 90px;
        text-align: center;
        font-size: 1.1rem;
    }

}

.menu_1{
    animation-duration: 3s;
    animation-name: slidein;
}

.menu_2{
    animation-duration: 3s;
    animation-name: slidein;
}


.order{
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    &:hover{
        transform: scale(1.2);
    }
}