* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  margin: 0;
  padding: 0;
  font-family: "roboto";
  list-style-type: none;
}

@font-face {
  font-family: "roboto";
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "roboto_thin";
  src: url(../font/Roboto-Thin.ttf);
}

@font-face {
  font-family: "roboto_medium";
  src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family: "roboto_bold";
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: "shrikhand";
  src: url(../font/Shrikhand-Regular.ttf);
}

#mobilesite {
  max-width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

h1,
h2 {
  font-size: 1.3rem;
  font-family: "roboto_medium";
}

.logo_header {
  width: 50%;
  display: block;
  margin: 20px auto 15px auto;
}

input[type=text]:focus {
  outline: none;
}

form {
  -webkit-box-shadow: inset 0 8px 3px -4px #d5d5d5;
          box-shadow: inset 0 8px 3px -4px #d5d5d5;
  background-color: #eaeaea;
  border-width: 0;
  width: 100%;
  text-align: center;
}

form input {
  -webkit-box-shadow: inset 0 8px 3px -4px #d5d5d5;
          box-shadow: inset 0 8px 3px -4px #d5d5d5;
  background-color: #eaeaea;
  padding: 15px 0 15px 0;
  font-size: 1.1rem;
  border: 0;
}

form::before {
  font-family: "fontawesome";
  content: "\f3c5";
  padding: 15px;
  border: 1px solid var(--grey);
  border-radius: 15px 0 0 15px;
  background-color: var(--grey);
}

#reserve {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px 50px 20px;
  text-align: center;
}

#reserve h1 {
  margin: 0 45px 20px 45px;
}

#reserve p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-family: "roboto_thin";
}

#reserve a {
  font-size: .9rem;
  font-family: 'roboto_medium';
  color: #ffffff;
  border-radius: 30px;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  margin: auto;
}

#use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 20px 25px 20px;
}

#use ol {
  counter-reset: li;
}

#use ol li {
  background-color: #f6f6f6;
  padding: 25px;
  margin: 20px 0 20px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 9px 0px #d5d5d5;
          box-shadow: 0 6px 9px 0px #d5d5d5;
}

#use li:first-child::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f3cd";
  color: #7e7e7e;
}

#use li:nth-child(2)::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f0ca";
  color: #7e7e7e;
}

#use li:last-child::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f54e";
  color: #9356DC;
}

#use li::after {
  position: absolute;
  left: 22px;
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  counter-increment: li;
  content: counter(li);
}

#restaurant {
  background-color: #f6f6f6;
  padding: 50px 15px 0 15px;
}

#restaurant h2 {
  padding-bottom: 20px;
}

#restaurant .card {
  width: 100%;
  margin: 10px auto;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px #d2d2d2;
          box-shadow: 0 5px 10px #d2d2d2;
  border-radius: 20px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

#restaurant .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */