* {
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -moz-box-sizing: border-box;
    /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, autres WebKit */
    margin: 0;
    padding: 0;
    font-family: "roboto";
    list-style-type: none
}

@import "font";
@import "color";
@import "mixin";
@import "keyframes";


.spinner {
    position: absolute;
    height: 100vh;
    width: 100%;
    animation-name: loading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    .fa-spinner {
        font-size: 2.5rem;
        animation: mymove 2s infinite forwards;
        position: fixed;
    }
}    


#mobilesite {
    max-width: 800px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

h1,
h2 {
    font-size: 1.3rem;
    font-family: "roboto_medium";
}

.fa-heart {
    font-size: 1.5rem;
}

.logo_header {
    width: 50%;
    display: block;
    margin: 20px auto 15px auto;
}


input[type=text]:focus {
    outline: none;
}

form {
    @include box_shadow_form;
    border-width: 0;
    width: 100%;
    text-align: center;

    input {
        @include box_shadow_form;
        padding: 15px 0 15px 0;
        font-size: 1.1rem;
        border: 0;
    }
}

form::before {
    font-family: $fontawesome;
    content: "\f3c5";
    padding: 15px;
    border-radius: 15px 0 0 15px;
}


#reserve {
    background-color: $background_color;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 50px 20px;
    text-align: center;

    h1 {
        margin: 0 60px 20px 60px;
    }

    p {
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-family: "roboto_thin";
    }

    a {
        @include btn_a;

        &:hover {
            transform: scale(1.1);
            transition: all .2s ease-in-out;
        }
    }
}

#use {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 25px 20px;

    h2 {
        font-size: 1.4rem;
    }

    ol {
    counter-reset: li;

        li {
            background-color: $background_color;
            padding: 25px;
            margin: 20px 0 20px 15px;
            border-radius: 20px;
            box-shadow: 0 6px 9px 0px #d5d5d5;
            position: relative;

            &:hover {
                background-color: #f5edff;
                box-shadow: 0 9px 12px 0px #d5d5d5;
                color: $first_color;

                }
            &:hover i{
            color: $first_color;
            }

            &::after{
                position: absolute;
                left: -12px;
                width: 17px;
                height: 17px;
                background-color: #9356DC;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                counter-increment: li;
                content: counter(li);
                font-size: .8rem;
                padding: 2px;            
            }
        }
    }
}


#use .mobile,
.list,
.store {
    @include logo_li;
}


#restaurant {
    background-color: $background_color;
    padding: 50px 20px 50px 20px;

    h2 {
        padding-bottom: 20px;
    }

    .card {
        @include card_welcome;
    }

    .card_image {
        height: 190px;
        position: relative;
         img {
        object-fit: cover;
        height: 190px;
        }

    .new {
        color: #3a8562;
        background-color: #99e2cf;
        padding: 7px 12px;
        width: fit-content;
        position: absolute;
        top: 15px;
        right: 15px;
        font-family: 'roboto_medium';
        font-size: .8rem;
        border-radius: 2px;
        font-weight: bold;
        }
    }

    #palette,
    #francaise,
    #delice {
        object-position: bottom;
    }

    #note {
        object-position: 0 -140px;
    }

    .card_body {
        height: 80px;
        padding: 15px;
        line-height: 15px;
    

    .card_title {
        display: flex;
        justify-content: space-between;
        font-family: $fontawesome;
        content: "\f004";


        h3 {
            font-weight: bold;
        }
    }
    }

    p {
        font-family: 'roboto_thin';
    }

    }



.heart_mix {
    position: relative;
    top: 10px;

    &:hover .fa-solid{
        background: $mix_color;
        -webkit-background-clip: text;
        opacity: 1;
    }
    
    .fa-solid {
        position: absolute;
        left: 0;
        color: transparent;
        transition: all .7s;
        background: transparent;
        opacity: 0;
    }

}


footer {
    background-color: #353535;
    color: #fff;
    padding: 20px 0 30px 20px;
    line-height: 25px;

    h2 {
        font-family: "shrikhand";
        font-weight: lighter;
        padding-bottom: 10px;
        font-size: 1.3rem;
    }

    li:first-child::before {
        @include logo_li_footer;
        content: "\f2e7";
    }

    li:nth-child(2)::before {
        @include logo_li_footer;
        content: "\f363";
    }

    a {
        color: #fff;
    }

}

// menu //

@for $i from 1 to 11 {
    .menu_#{$i} {
        animation: slidein .6s*$i  ease-in-out;
    }
}

.header_restaurant {
    height: 50px;

    a {
        font-size: 1.2rem;
        position: absolute;
        left: 25px;
        top: 25px;
        text-align: center;
    }

}


top {
    height: 200px;

    img {
        z-index: -1;
        position: relative;
        object-fit: cover;
        height: 250px;
    }

    #enchant {
        object-position: 0 -160px;
    }
}

.main_menu {
    margin-top: -50px;
    background-color: $background_color;
    border-radius: 40px 40px 0 0;
    padding: 30px 15px 10px 15px;

    .top_menu{
        display: flex;
        align-items: center;
    }

    h1 {
        font-family: "shrikhand";
        font-size: 1.8rem;
        font-weight: normal;
    }

    .heart_mix{
        width: fit-content;
        margin-left: 40px;
    }

    .fa-solid {
        color: transparent;
    

    &:hover {
        transition: all 4s;
        background: $mix_color;
        -webkit-background-clip: text;
        cursor: pointer;
    }
    }


    h2 {
        margin: 20px 0 20px 0;
        font-family: 'roboto_thin';
        border-bottom: 4px solid $third_color;
        padding: 0 15px 10px 0;
        width: 50px;
        font-size: 1rem;
    }

    .menu {
        background-color: #fff;
        padding: 15px 12px;
        border-radius: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 6px 9px 0px #d5d5d5;
        overflow: hidden;
    

    .card {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .card_title {
        line-height: 25px;
        overflow: hidden;
        height: 50px;

        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    p:nth-child(2) {
        font-family: 'roboto_thin';
    }

    .bar::after {
        font-family: $fontawesome;
        content: "\f00c";
        color: $third_color;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: #FFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 25px;
        font-size: 1.3rem;

    }

    .bar {
        background-color: $third_color;
        width: 110px;
        margin: -20px -125px;

    }


    &:hover .bar {
        transform: translateX(-80px);
        transition: all 500ms ease-in-out;
    }

    &:hover .bar::after {
        animation: mymove .7s;
        animation-delay: .3s;
    }


    &:hover .card {
        width: calc(100% - 100px);
        transition: all .5s ease-in-out;
        white-space: nowrap;
    }

    .price {
        position: relative;
        bottom: -25px;
        font-weight: bold;

    }
}

    .order {
        @include btn_a;
        width: 200px;
        padding: 17px;
        display: block;
        margin: 50px auto 80px;
        text-align: center;
        font-size: 1.1rem;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        font-weight: normal;
    
        &:hover {
            transform: scale(1.2);
            opacity: .8;
        }    
    }

}


@media screen and (min-width: 992px) {
    
    
    #restaurant {
        nav{
        display: flex;
        flex-wrap: wrap;
    }
     .card{
            width: 44%;
            margin: 20px;
        }
    }


    top img{
        margin-top: 40px;
        height: 450px;
}

    .fa-arrow-left{
        position: relative;
        font-size: 2rem;
        left: 110px;
        top: 18px
    }

    .main_menu{
        .top_menu{
            align-items: normal;
            justify-content: space-between;
            margin-right: 40px;
        }
        h1{
            margin-left: 30px;
        }

        .menu:hover .card {
            width: 650px;
            transition: all .5s ease-in-out;
            white-space: nowrap;
    
    }
    }
}



    
