* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  margin: 0;
  padding: 0;
  font-family: "roboto";
  list-style-type: none;
}

@font-face {
  font-family: "roboto";
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "roboto_thin";
  src: url(../font/Roboto-Thin.ttf);
}

@font-face {
  font-family: "roboto_medium";
  src: url(../font/Roboto-Medium.ttf);
}

@font-face {
  font-family: "roboto_bold";
  src: url(../font/Roboto-Bold.ttf);
}

@font-face {
  font-family: "shrikhand";
  src: url(../font/Shrikhand-Regular.ttf);
}

@-webkit-keyframes mymove {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes mymove {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slidein {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}

@keyframes slidein {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}

#mobilesite {
  max-width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

h1,
h2 {
  font-size: 1.3rem;
  font-family: "roboto_medium";
}

.fa-heart {
  font-size: 1.5rem;
  position: relative;
}

.logo_header {
  width: 50%;
  display: block;
  margin: 20px auto 15px auto;
}

input[type=text]:focus {
  outline: none;
}

form {
  -webkit-box-shadow: inset 0 8px 3px -4px #d5d5d5;
          box-shadow: inset 0 8px 3px -4px #d5d5d5;
  background-color: #eaeaea;
  border-width: 0;
  width: 100%;
  text-align: center;
}

form input {
  -webkit-box-shadow: inset 0 8px 3px -4px #d5d5d5;
          box-shadow: inset 0 8px 3px -4px #d5d5d5;
  background-color: #eaeaea;
  padding: 15px 0 15px 0;
  font-size: 1.1rem;
  border: 0;
}

form::before {
  font-family: "fontawesome";
  content: "\f3c5";
  padding: 15px;
  border: 1px solid var(--grey);
  border-radius: 15px 0 0 15px;
  background-color: var(--grey);
}

#reserve {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px 50px 20px;
  text-align: center;
}

#reserve h1 {
  margin: 0 60px 20px 60px;
}

#reserve p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-family: "roboto_thin";
}

#reserve a {
  font-size: .9rem;
  font-family: 'roboto_medium';
  color: #f6f6f6;
  border-radius: 30px;
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  margin: auto;
}

#use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 20px 25px 20px;
}

#use h2 {
  font-size: 1.4rem;
}

#use ol {
  counter-reset: li;
}

#use ol li {
  background-color: #f6f6f6;
  padding: 25px;
  margin: 20px 0 20px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 9px 0px #d5d5d5;
          box-shadow: 0 6px 9px 0px #d5d5d5;
}

#use li:last-child {
  background-color: #f5edff;
}

#use li:first-child::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f3cd";
  color: #7e7e7e;
}

#use li:nth-child(2)::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f0ca";
  color: #7e7e7e;
}

#use li:last-child::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f54e";
  color: #9356DC;
}

#use li::after {
  position: absolute;
  left: 22px;
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  counter-increment: li;
  content: counter(li);
}

#restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px 50px 20px;
}

#restaurant h2 {
  padding-bottom: 20px;
}

#restaurant .card {
  width: 100%;
  margin: 20px auto;
  background-color: white;
  -webkit-box-shadow: 0 0px 10px #d2d2d2;
          box-shadow: 0 0px 10px #d2d2d2;
  border-radius: 20px;
  overflow: hidden;
}

#restaurant .card_image {
  height: 190px;
  position: relative;
}

#restaurant .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 190px;
}

#restaurant .new {
  color: #3a8562;
  background-color: #99e2cf;
  padding: 7px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: 'roboto_medium';
  font-size: .8rem;
  border-radius: 2px;
  font-weight: bold;
}

#restaurant #palette, #restaurant #francaise, #restaurant #delice {
  -o-object-position: bottom;
     object-position: bottom;
}

#restaurant #note {
  -o-object-position: 0 -140px;
     object-position: 0 -140px;
}

#restaurant .card_body {
  height: 80px;
  padding: 15px;
  line-height: 25px;
}

#restaurant h3 {
  font-weight: bold;
}

#restaurant p {
  font-family: 'roboto_thin';
}

#restaurant .fa-regular {
  position: relative;
  overflow: hidden;
}

#restaurant .fa-solid::after {
  content: "\f004";
  position: absolute;
  color: transparent;
  left: 0;
  top: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  cursor: pointer;
}

#restaurant .fa-solid {
  color: transparent;
  overflow: hidden;
}

#restaurant .fa-solid:hover::after {
  top: 0;
}

#restaurant .fa-regular {
  left: 275px;
  top: -35px;
}

#restaurant .fa-solid {
  top: -35px;
  left: 251px;
}

#restaurant #btn {
  display: none;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px 0 30px 20px;
  line-height: 25px;
}

footer h2 {
  font-family: "shrikhand";
  font-weight: lighter;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

footer li:first-child::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f2e7";
  font-size: .9rem;
}

footer li:nth-child(2)::before {
  font-family: "fontawesome";
  padding-right: 15px;
  content: "\f363";
  font-size: .9rem;
}

footer a {
  color: #fff;
}

.header_restaurant {
  height: 50px;
}

.header_restaurant a {
  font-size: 1.2rem;
  position: absolute;
  left: 25px;
  top: 25px;
  text-align: center;
}

.header_restaurant img {
  border: 0 auto 0 auto;
}

top {
  height: 200px;
}

top img {
  z-index: -1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

top #enchant {
  -o-object-position: 0 -160px;
     object-position: 0 -160px;
}

.main_menu {
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 30px 15px 10px 15px;
}

.main_menu h1 {
  font-family: "shrikhand";
  font-size: 2rem;
}

.main_menu .fa-regular {
  position: relative;
  overflow: hidden;
}

.main_menu .fa-solid::after {
  content: "\f004";
  position: absolute;
  color: transparent;
  left: 0;
  top: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  cursor: pointer;
}

.main_menu .fa-solid {
  color: transparent;
  overflow: hidden;
}

.main_menu .fa-solid:hover::after {
  top: 0;
}

.main_menu .fa-regular {
  top: -35px;
  right: -320px;
}

.main_menu .fa-solid {
  top: -35px;
  right: -296px;
}

.main_menu h2 {
  margin: 20px 0 20px 0;
  font-family: 'roboto_thin';
  border-bottom: 4px solid #99E2D0;
  padding: 0 15px 10px 0;
  width: 50px;
}

.main_menu .menu {
  background-color: #fff;
  padding: 15px 12px;
  border-radius: 20px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 6px 9px 0px #d5d5d5;
          box-shadow: 0 6px 9px 0px #d5d5d5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_menu .card_title {
  line-height: 25px;
}

.main_menu p:nth-child(2) {
  font-family: 'roboto_thin';
}

.main_menu .bar::after {
  font-family: "fontawesome";
  content: "\f00c";
  color: #99E2D0;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

.main_menu .bar {
  background-color: #99E2D0;
  width: 100px;
  margin: -15px -120px;
}

.main_menu .menu:hover .bar {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main_menu .menu:hover .bar::after {
  -webkit-animation: mymove .7s;
          animation: mymove .7s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.main_menu .price {
  position: relative;
  bottom: -25px;
  right: 30px;
  font-weight: bold;
}

.main_menu .order {
  font-size: .9rem;
  font-family: 'roboto_medium';
  color: #f6f6f6;
  border-radius: 30px;
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  margin: auto;
  padding: 20px 35px;
  display: block;
  margin: 50px 90px 80px 90px;
  text-align: center;
  font-size: 1.1rem;
}

.menu_1 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.menu_2 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.order {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.order:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */