@media screen and (min-width: 992px) {
    
    
    #restaurant {
        nav{
        display: flex;
        flex-wrap: wrap;
    }
     .card{
            width: 44%;
            margin: 20px;
        }
    }
    .top{
        height: 350px;
    }

    top img{
        margin-top: 40px;
        height: 450px;
}

    .fa-arrow-left{
        position: relative;
        font-size: 2rem;
        left: 110px;
        top: 18px
    }

    .main_menu{
        .top_menu{
            align-items: normal;
            justify-content: space-between;
            margin-right: 40px;
        }
        h1{
            margin-left: 30px;
        }

        .menu:hover .card {
            width: 650px;
            transition: all .5s ease-in-out;
            white-space: nowrap;
    
    }
    }
}
