@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto_thin";
    src: url(../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: "roboto_medium";
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: "roboto_bold";
    src: url(../font/Roboto-Bold.ttf);
}
        
@font-face {
    font-family: "shrikhand";
    src: url(../font/Shrikhand-Regular.ttf);
}

$fontawesome: "fontawesome";